@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-image: url("./../../public/kiwi_logo.jpg");
  background-size: 80px;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: inherit;
  filter: brightness(70%);
  z-index: -1;
}

body > * {
  position: relative;  /* Make sure the direct children are positioned relatively */
  z-index: 1;  /* Ensure they are above the pseudo-element */
}

.hello {
  display: flex;
}